version: '2'
services:
  search:
    image: fduarte42/docker-elasticsearch
    environment:
      VIRTUAL_PORT: 9200
      VIRTUAL_HOST: search.${BASE_DOMAIN}
    volumes:
      - "../volumes/search/data:/usr/share/elasticsearch/data"
    networks:
      - "frontend-tier"
      - "backend-tier"
    logging:
      driver: gelf
      options:
        gelf-address: "udp://localhost:12201"
        tag: "search"

  php:
    depends_on:
      - search
    links:
      - search:search

