version: '2.1'
services:
  search:
    image: "docker.elastic.co/elasticsearch/elasticsearch:5.5.2"
    environment:
      - "http.cors.enabled=true"
      - "http.cors.allow-origin=*"
      - "http.cors.allow-headers=Authorization"
      - "VIRTUAL_PORT=9200"
      - "VIRTUAL_HOST=search.${BASE_DOMAIN}"
      - "ES_JAVA_OPTS=-Xms512m -Xmx512m"
    ulimits:
      memlock:
        soft: -1
        hard: -1
    mem_limit: 1g
    volumes:
      - "../../volumes/search/data:/usr/share/elasticsearch/data"
    networks:
      - "frontend-tier"
      - "backend-tier"

    logging:
      driver: gelf
      options:
        gelf-address: "udp://localhost:12201"
        tag: "search"

  search_head:
    depends_on:
      - search
    image: "mobz/elasticsearch-head:5"
    environment:
      VIRTUAL_PORT: 9100
      VIRTUAL_HOST: search_head.${BASE_DOMAIN}
    networks:
      - "frontend-tier"
      - "backend-tier"

    logging:
      driver: gelf
      options:
        gelf-address: "udp://localhost:12201"
        tag: "search_head"

  db:
    volumes:
      - "../../volumes/mysql/init:/docker-entrypoint-initdb.d"
    ports:
      - 13306:3306

  php:
    depends_on:
      - search
    links:
      - search:search