# Default ignored files
/workspace.xml
/$CACHE_FILE$
/.gitignore
/dataSources.local.xml
/dataSources.xml
/deployment.xml
/docker-template.iml
/encodings.xml
/misc.xml
/modules.xml
/php-docker-settings.xml
